<.header>
  Message <%= @message.id %>
  <:subtitle>This is a message record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/messages/#{@message}/edit"}>
      <.button>Edit message</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Content"><%= @message.content %></:item>
</.list>

<.back navigate={~p"/messages"}>Back to messages</.back>
